body {
    background-color: #13212A;
}

.top_buttons {
    float: right;
    position: relative;
    z-index: 10;
    display: flex;
    margin-top: 10px;

}

button {
    height: 50px;
    background-color: transparent;
    border: none;
    color: #359971;
    font-size: 16px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s
}

button:focus {
    outline: none;
}

button:hover {
    opacity: 0.5;
}

.react-google-oauth-button-logout {
    
    width: 100px !important;
    color: #359971;
}

#app > div > div > div.react-google-oauth-button-main.react-google-oauth-button-logout {
    color: #359971 !important;
}

#app > div > div > div.react-google-oauth-button-main.react-google-oauth-button-logout > div > div {
    display: none;
}

.container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login {
    width: 242px;
    position: relative;
    top: 400px;
    justify-content: center;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
}

.top_section {
    width: 49%;
    height: 460px;
    background-color: #152630;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 8px;
}

.bottom_section {
    width: 32%;
    height: 370px;
    background-color: #152630;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    font-size: 10px;
}

.navbar {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    border-bottom: 2px solid #212F38;
    margin-top: -50px;
}

.nav li a {
    color: #359971;
    font-size: 16px;
    padding: 15px 0 12px 0;
}

.nav li {
    margin-right: 37px;
}

a:hover {
    background-color: #13212A !important;
}
a:visited {
    background-color: #13212A !important;
    border-bottom: 2px solid #A5925D;
}

li:hover {
    background-color: #13212A !important;
    border-bottom: 2px solid #A5925D;
}

li:visited {
    background-color: #13212A !important;
    border-bottom: 2px solid #A5925D !important;
}

li:active {
    background-color: #13212A !important;
    border-bottom: 2px solid #A5925D !important;
}

.active {
    background-color: #13212A !important;
    border-bottom: 2px solid #A5925D !important;
}

.row_section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 48%;
}

.part_section {
    /* background-color: rgb(24, 96, 141); */
    width: 49.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #359971;
    font-size: 10px;
}

.large {
    font-size: 36px;
    padding-bottom: 10px;
}

.medium {
    font-size: 20px;
    color: #359971;
    padding-bottom: 10px;
}

.small {
    font-size: 12px;
    color: #359971;
}

.blue_line {
    border-bottom: 1px solid #359971;
    width: 92%;
    height: 42%;
    padding: 0 10px;
}

.number_letter {
    width: 80px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.border_left_right {
    border-left: 1px solid #84888B;
    border-right: 1px solid #84888B;
}

.services_section {
    width: 94%;
    height: 33.3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.border_top_bottom {
    border-top: 1px solid #162B33;
    border-bottom: 1px solid #162B33;
    /* height: 35%; */
}

.blue_sqaure {
    width: 54px;
    height: 54px;
    background-color: #183739;
    border: 1px solid #1A4841;
}

@media only screen and (max-width: 1200px) {
    .top_section {
        width: 100%;
        margin-bottom: 15px;
        padding-left: 15px;
        padding-right: 20px;
    }

    .row_section {
        padding-left: 25px;
        padding-right: 25px;
    }

    .bottom_section {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 20px;
    }

    .section {
        flex-direction: column;
        align-items: center;
    }

    #app > div > div.container > div:nth-child(3) {
        padding-top: 0;
    }

    #app > div > div.container {
        width: 100%;
    }

    .nav li {
        float: left;
    }

    .navbar-nav {
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .container {
        /* width: 920px; */
    }
}